{{#*inline "main"}}
    <article class="full" id="post">
      <header>
        <div class="date">
        <!-- TODO nice date -->
        <time datetime="{{date}}">{{date}}</time>
                {{#if date_revised}}
                <small>– Revised {{date_revised}}</small>
                {{/if}}
        </div>
        {{#if title}}<h1 class="title">{{title}}</h1>{{/if}}
      </header>
      {{{content}}}

<!-- footnotes -->
    </article>
{{/inline}}{{> base}}
