            <article class="post {{#if synopsis}}summary{{else}}preview{{/if}}">
              {{#if title}}<h3>{{> link}}</h3>
              {{else}}<div class="date">{{> nice_date}}</div>
              {{/if}}
              {{#if synopsis}}
              <p class="synopsis">({{{synopsis}}})</p>
              {{else}}{{#if excerpt}}
                {{{excerpt}}}
                <p class="read-more">
                  <a href="{{{url}}}">Continue reading …</a>
                </p>
              {{else}}{{{content}}}{{/if}}{{/if}}
            </article>
